<div class="headDate">
    <h1>Importaint Dates</h1>
</div>
<div class="impDates">
    <mat-list class="impDtes">
        <mat-list-item>
            <span matListItemTitle>15/2/2023</span>
            <span matListItemLine>Article submission</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>28/2/2023</span>
            <span>Notification about acceptance</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>15/3/2023</span>
            Final version submission (camera-ready)
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>14/5/2023 to 16/5/2023</span>
            Symposium date
        </mat-list-item>
    </mat-list>
</div>