.headDate{
    justify-content: center;
    display: flex;
    margin-top: 70px;
}
.impDates{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align:center;
}
.impDtes{
    align-items: center;
    max-width: 75%;
}