<div class="headDate">
    <h1>Importaint Dates</h1>
</div>
<div class="impDates">
    <mat-list class="impDtes">
        <mat-list-item>
            <span matListItemTitle>Importaint date 1</span>
            <span matListItemLine>what it is</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Importaint date 2</span>
            <span>what it is</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Importaint date 2</span>
            what it is
        </mat-list-item>
    </mat-list>
</div>