.headSup{
    justify-content: center;
    display: flex;
    margin-top: 70px;
}
.spons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponser{
    width: 30%;
    height: 30%;
}
.thank{
    display: flex;
    justify-content: center;
}