<div class="headPap">
    <h1>Call for Papers</h1>
</div>
<div class="call">
    <p class="calling">InteRact receives proposals for papers in the following formats: full paper, short paper and poster, which will be reviewed in blind review. Papers have the opportunity to be published in the Symposium Proceeding (in digital format).

    The first authors of papers can be students from different levels of higher education – BSc, MSc, PhD or others. If you submit:
    <a class="easychairbutton" mat-raised-button color="primary" href="https://www.easychair.org">Deliver paper</a>
</p>
    <mat-grid-list class="griden" cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="review-process">
                <div class="grid-item"><h3 class="revHead">Review Process:</h3></div>
                <mat-list role="list">
                    <mat-list-item role="listitem">Paper submission</mat-list-item>
                    <mat-list-item role="listitem">Blind review</mat-list-item>
                    <mat-list-item role="listitem">Notified about the reviewing process</mat-list-item>
                  </mat-list>
              </div>
            </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-container">
                <div class="grid-item"><h3 class="revHead">General information for submitting papers for review:
                </h3></div>
                <mat-list role="list">
                    <mat-list-item role="listitem">Papers must follow the template</mat-list-item>
                    <mat-list-item role="listitem">Papers can be written in Portuguese or English</mat-list-item>
                    <mat-list-item role="listitem">Papers must be submitted in ".pdf" format.</mat-list-item>
                  </mat-list>
              </div>
        </mat-grid-tile>
    </mat-grid-list>
    <h2 class="spesificHead">Specific information for paper submission:
    </h2>
    <div class="spessInfo">
    <mat-accordion class="paperSpec">
        <mat-expansion-panel hideToggle class="fullPap" >
          <mat-expansion-panel-header class="headFP" fxLayoutAlign="center">
            <mat-panel-title >Full Paper
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Full papers must be original. Submissions must be limited to a minimum number of 6 pages and a maximum number of 8 A4 pages.</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="shortPap" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Short Papers
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Short papers should describe work in progress but with relevant preliminary results to be discussed. .</p>
          </mat-expansion-panel>
        <mat-expansion-panel class="posters" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Posters
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Posters should describe work in progress, preferably including some preliminary results. </p>
          </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="submition">
        <mat-list class="subMatList">
        <mat-list-item >
            <h2 class="headSub">How can I submit an paper?</h2>
        </mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle>Step 1</span>
            <span
            >First, you must download the paper template (LNCS).
            </span>
        </mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle>Step 2</span>
            <span
            >All papers must be submitted through the “EasyChair” platform.
            </span>
        </mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle>Step 3</span>
            After logging into your account, you must select the “New Submission” option and fill the form.
        </mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle>Step 4</span>
            Finally, you must upload your paper and submit. Afterwards, you will receive an e-mail with confirmation that your paper was successfully submitted.
        </mat-list-item>
        </mat-list>
    </div>
    <div class="generalInfo" >
        <mat-list class="genInfo">
            <mat-list-item >
                <h2 class="headSub">General information for final paper submission:</h2>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Papers must follow the template available at LNCS.</span>
            </mat-list-item>
            <mat-list-item>
                <span >Papers can be written in Portuguese or English.</span>
            </mat-list-item>
            <mat-list-item>
                <span >The final version of the papers must be submitted in a “.zip” file, which must contain.</span>
            </mat-list-item>
            <mat-list-item>
                <span >The final version must be submitted through the EasyChair platform.</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="recommended">
        <mat-list class="recPost">
            <mat-list-item >
                <h2 class="headSub">Recommendations for poster design:</h2>
            </mat-list-item>
            <mat-list-item>
                <span>It must be self-contained and self-explanatory, allowing the reader.</span>
            </mat-list-item>
            <mat-list-item>
                <span>It should be simple and clear, with a combination of text, graphics and images being recommended.</span>
            </mat-list-item>
            <mat-list-item>
                <span>It must allow the reading of images and graphics from a distance.
                </span>
            </mat-list-item>
            <mat-list-item>
                <span>It must have a highlighted area for the title, introduction, conclusions and authors.
                </span>
            </mat-list-item>
            <mat-list-item>
                <span>It must be vertically oriented and the recommended size is A1.
                </span>
            </mat-list-item>
            <mat-list-item>
                <span>There will be a place to stick the poster during the sessions.
                </span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="outline">
        <mat-list class="outlinePres">
            <mat-list-item >
                <h2 class="headSub">Outline about the Presentations:</h2>
            </mat-list-item>
            <mat-list-item>
                <span>Each author of the full paper will have a maximum of 15 minutes to presen.</span>
            </mat-list-item>
            <mat-list-item>
                <span>Each author of the short paper will have a maximum of 10.</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="contact">
        <h3>Any issue: contact us at sei@dei.isep.ipp.pt</h3>
    </div>
</div>
