<div class="headPap">
    <h1>Papers</h1>
</div>
<div class="call">
    <p class="calling">
        Masse text og sånt
    </p>
    <h3>Review Process:</h3>
    <p class="rewievProc">
        skal være bulletpoints
    </p>
    <h3>General information for submitting papers for review:
    </h3>
    <p class="generalInfo">
        Masse text og sånt
    </p>
    <h3>Specific information for paper submission:
    </h3>
    <h5>Full Papers</h5>
    <p class="fullPap">
        Masse text og sånt
    </p>
    <h5>Short Papers</h5>
    <p class="shoPap">
        Masse text og sånt
    </p>
    <h5>Posters</h5>
    <p class="posters">
        Masse text og sånt
    </p>
    <h3>How can I submit an paper?
    </h3>
    <p class="howTo">
        trinnvis
    </p>
    <h3>General information for final paper submission:
    </h3>
    <p class="genInfoFinal">
        skal være bulletpoints
    </p>
    <h3>Recommendations for poster design:
    </h3>
    <p class="recommendedPost">
        skal være bulletpoints
    </p>
    <h3>Outline about the Presentations:
    </h3>
    <p class="outline">
        skal være bulletpoints
    </p>
    <h5>Any issue: contact:</h5>
</div>