.headPap{
    justify-content: center;
    display: flex;
    margin-top: 80px;
}
.calling{
    margin-top: 10px;
    justify-content: center;
    display: flex;
}
.spesificHead{
    justify-content: center;
    display: flex;
}
.submition{
    justify-content: center;
    display: flex;
}
.howTo{
    justify-content: center;
    display: flex;
}
.generalInfo{
    justify-content: center;
    display: flex;
}
.genInfoFinal{
    justify-content: center;
    display: flex;
}
.recommended{
    justify-content: center;
    display: flex;
}
.spesifications{
    justify-content: center;
}
.text-center {
    text-align: center;
} 
.headFP > .mat-conten{
    justify-content:center;
}
.mat-content > mat-panel-title{
    flex: auto;
}