<div class="headPap">
    <h1>Call for Papers</h1>
</div>
<div class="call">
    <p class="calling">InteRact receives proposals for papers in the following formats: full paper, short paper and poster, which will be reviewed in blind review. Papers have the opportunity to be published in the Symposium Proceeding (in digital format).

    The first authors of papers can be students from different levels of higher education – BSc, MSc, PhD or others.</p>
    <mat-grid-list class="griden" cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="review-process">
                <div class="grid-item"><h3>Review Process:</h3></div>
                <mat-list role="list">
                    <mat-list-item role="listitem">Item 1</mat-list-item>
                    <mat-list-item role="listitem">Item 2</mat-list-item>
                    <mat-list-item role="listitem">Item 3</mat-list-item>
                  </mat-list>
              </div>
            </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-container">
                <div class="grid-item"><h3>General information for submitting papers for review:
                </h3></div>
                <mat-list role="list">
                    <mat-list-item role="listitem">Item 1</mat-list-item>
                    <mat-list-item role="listitem">Item 2</mat-list-item>
                    <mat-list-item role="listitem">Item 3</mat-list-item>
                  </mat-list>
              </div>
        </mat-grid-tile>
    </mat-grid-list>
    <h2 class="spesificHead">Specific information for paper submission:
    </h2>
    <div class="spessInfo">
    <mat-accordion class="paperSpec">
        <mat-expansion-panel hideToggle class="fullPap" >
          <mat-expansion-panel-header class="headFP" fxLayoutAlign="center">
            <mat-panel-title >Full Paper
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Spesifications for a full paper. djeiow ef ewouf oif wf ewoif ewoi</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="shortPap" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Short Papers
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Spesifications for a short paper.</p>
          </mat-expansion-panel>
        <mat-expansion-panel class="posters" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Posters
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Spesifications for a poster.</p>
          </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="submition">
        <mat-list class="subMatList">
        <mat-list-item >
            <h2 class="headSub">How can I submit an paper?</h2>
        </mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle>Step 1</span>
            <span
            >Secondary line that will wrap because the list lines is exill never wrap.
            </span>
        </mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle>Step 2</span>
            <span
            >Secondary linewill never wrap.
            </span>
        </mat-list-item>
        <mat-list-item lines="3">
            <span matListItemTitle>Step 2</span>
            Lorem ipsum dolor sit amet, consectetur adipt esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id estde hdeuw e eh ifuefiuew fewiuf eieuewuidheuod eohde uifdewuo 
        </mat-list-item>
        </mat-list>
    </div>
    <div class="generalInfo" >
        <mat-list class="genInfo">
            <mat-list-item >
                <h2 class="headSub">General information for final paper submission:</h2>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>papers must..</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>and</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>and</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="recommended">
        <mat-list class="recPost">
            <mat-list-item >
                <h2 class="headSub">Recommendations for poster design:</h2>
            </mat-list-item>
            <mat-list-item>
                <span>posters should..</span>
            </mat-list-item>
            <mat-list-item>
                <span>and</span>
            </mat-list-item>
            <mat-list-item>
                <span>and</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="outline">
        <mat-list class="outlinePres">
            <mat-list-item >
                <h2 class="headSub">Outline about the Presentations:</h2>
            </mat-list-item>
            <mat-list-item>
                <span>Each author of the full paper will...</span>
            </mat-list-item>
            <mat-list-item>
                <span>and</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="contact">
        <h3>Any issue: contact:</h3>
    </div>
</div>
