<div class="headPro">
    <h1>Program</h1>
</div>
<div class="prog">
    <mat-accordion class="programList">
        <mat-expansion-panel hideToggle class="day1" >
          <mat-expansion-panel-header>
            <mat-panel-title >Day 1
            </mat-panel-title>
            <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list class="day1list" role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="day2" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Day 2
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list class="day2list" role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
          </mat-expansion-panel>
        <mat-expansion-panel class="day3" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Day 3
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list class="day3list" role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
          </mat-expansion-panel>
      </mat-accordion>
</div>
