<div class="headPro">
    <h1>Program</h1>
</div>
<div class="prog">
    <mat-accordion class="programList">
        <mat-expansion-panel hideToggle class="day1" >
          <mat-expansion-panel-header>
            <mat-panel-title >Day 1
            </mat-panel-title>
            <mat-panel-description>
                First day of conference.
              </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list class="day1list" role="list">
            <mat-list-item role="listitem">10.00: Opening</mat-list-item>
            <mat-list-item role="listitem">12.20: Presentation about AI</mat-list-item>
            <mat-list-item role="listitem">14.30: Presentation by Joao Joao</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="day2" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Day 2
              </mat-panel-title>
              <mat-panel-description>
                Second day of conference.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list class="day2list" role="list">
                <mat-list-item role="listitem">10.00: Opening</mat-list-item>
                <mat-list-item role="listitem"> 10.30: Presentation by Ola Nordmann</mat-list-item>
                <mat-list-item role="listitem">14.30: Mingling</mat-list-item>
              </mat-list>
          </mat-expansion-panel>
        <mat-expansion-panel class="day3" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Day 3
              </mat-panel-title>
              <mat-panel-description>
                Last day of conference.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list class="day3list" role="list">
                <mat-list-item role="listitem">10.00: Opening</mat-list-item>
                <mat-list-item role="listitem">12.00: Presentation by Per Hagan</mat-list-item>
                <mat-list-item role="listitem">14.00: Mingling</mat-list-item>
              </mat-list>
          </mat-expansion-panel>
      </mat-accordion>
</div>
