<div class="comHead">
    <h1>Committees</h1>
</div>
<mat-grid-list class="grid" cols="2" rowHeight="1.8:1">
    <mat-grid-tile>
        <div class="orgCom">

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Organizing Committee
                  </mat-panel-title>
                  <mat-panel-description>
                    {{aboutOrgCom}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                
                <mat-list>
                    <mat-list-item *ngFor="let orgperson of orgpersons">{{orgperson}}</mat-list-item>
                </mat-list>

            </mat-expansion-panel>

        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="techCom">

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Technical-Scinetific Committee
                  </mat-panel-title>
                  <mat-panel-description>
                    {{aboutTechCom}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                
                <mat-list>
                    <mat-list-item *ngFor="let techperson of techpersons">{{techperson}}</mat-list-item>
                </mat-list>
    
                
                <p> If you are interessted in joining the committee, send in an application
                    <a class="link" href="https://l.messenger.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSc-qM-WrfDkle_fB_XAYM-ahUHBvTcpYPygfSoOAKLYl3J1nw%2Fviewform%3Fusp%3Dsf_link&h=AT1X1MGwG_j9o6rHKDpJTgcHvkoZEqn1EP7X0UWnx82P4M2z9oMqPGQjdvbBsu4I1WBlwgoQU6uJnAv28indltypiN3JBRtgcoeNWP35FsEVdR-A1jixa4Lwmdvw0gegBGVuyw">Here</a>
                </p>
            </mat-expansion-panel>
        </div>
</mat-grid-tile>
</mat-grid-list>

