.head-container{
    object-fit: contain;
}
.mainTitle {
    font-family: 'Lato', sans-serif;
    font-size:xx-large;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.content {
    width: 50%;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
}
.dates {
    font-weight: bold;
}
img {
    max-width: 100%;
}
