<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
      <!-- note: attr.role is only for accessibility such as screen-readers -->

    <mat-toolbar>
      <button mat-icon-button
          type="button"
          aria-label="Toggle Sidenav"
          mat-icon-button
          color="accent"
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">

        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/" (click)="drawer.close()">🏠 <b>Home</b></a>
      <a mat-list-item routerLink="/committees" (click)="drawer.close()">✍   Committees</a>
      <a mat-list-item routerLink="/papers" (click)="drawer.close()">📃  Papers</a>
      <a mat-list-item routerLink="/dates" (click)="drawer.close()">📅  Dates</a>
      <a mat-list-item routerLink="/speakers" (click)="drawer.close()">📣 Speakers</a>
      <a mat-list-item routerLink="/program" (click)="drawer.close()">🕝  Program</a>
      <a mat-list-item routerLink="/registration" (click)="drawer.close()">📋  Registration</a>
      <a mat-list-item routerLink="/photos" (click)="drawer.close()">📷 Photos</a>
      <a mat-list-item routerLink="/previous" (click)="drawer.close()">📰  Previous Editions</a>
      <a mat-list-item routerLink="/contact" (click)="drawer.close()">📨  Contact</a>
      <a mat-list-item routerLink="/support" (click)="drawer.close()">⭐  Support</a>
    </mat-nav-list>

  </mat-sidenav>

  <!-- Top Toolbar -->
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button
          type="button"
          aria-label="Toggle Sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span routerLink="/">
        <a href="#">
          <img src="/assets/icon.png" alt="logo" width="50" height="40">
        </a> <a class="navbar-logo">INTERACT</a></span>
      <span class="fill-space"></span>

      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/committees">Committees</a>
        <a mat-button routerLink="/papers">Papers</a>
        <a mat-button routerLink="/dates">Important Dates</a>
        <a mat-button routerLink="/registration">Registration</a>
        <a mat-button routerLink="/photos">Photos</a>

        <button mat-button [mat-menu-trigger-for]="schedule">Schedule</button>
        <mat-menu #schedule="matMenu">
          <button mat-menu-item routerLink="/program">Program</button>
          <button mat-menu-item routerLink="/speakers">Speakers</button>
        </mat-menu>

        <button mat-button [mat-menu-trigger-for]="menu">About</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/support">Sponsors</button>
          <button mat-menu-item routerLink="/contact">Contact</button>
          <button mat-menu-item routerLink="/previous">Previous Editions</button>
        </mat-menu>
      </div>

      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu>
        <a mat-menu-item>
          <i>🔆</i>
          <span>Light Mode</span>
        </a>
      </mat-menu>
      <a mat-button color="primary" routerLink="/login">Login</a>

    </mat-toolbar>
    
    <!-- 'Transclusion' add other components inside ng-content -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
