<div class="headCom">
    <h1>Contact us</h1>
</div>

<mat-grid-list class="contact" cols="2" rowHeight="1.5:1">
    <mat-grid-tile><div class="address">
        <h3 class="top">Address:</h3>
        <div>
            <mat-list role="list">
                <mat-list-item role="listitem">Instituto Superior de Engenharia do Porto</mat-list-item>
                <mat-list-item role="listitem">Rua Dr. António Bernardino de Almeida, 431</mat-list-item>
                <mat-list-item role="listitem">4249-015 Porto</mat-list-item>
                <mat-list-item role="listitem">Portugal</mat-list-item>

              </mat-list>
        </div>
    </div>
    ></mat-grid-tile>
    <mat-grid-tile><div class="contactUs">
        <h3 class="top">E-mail:</h3>
        <h3>
            If you want to get in contact with the planning committee, please send an email to:  sei@dei.isep.ipp.pt
        </h3>
        <mat-list-item role="listitem"><h3 class="top">Telephone</h3></mat-list-item>
        <mat-list-item role="listitem">+351 22 83 40 500</mat-list-item>
    </div></mat-grid-tile>
</mat-grid-list>
