.headCom{
    justify-content: center;
    display: flex;
    margin-top: 70px;
}
.calling{
    margin-top: 10px;
    justify-content: center;
    display: flex;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align:center;
}
.address{
    align-items: center;
    max-width: 75%;
}
.top{
    font-weight: bolder;
}