.headReg{
    justify-content: center;
    display: flex;
    margin-top: 70px;
}
.regHere{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align:center;
}
.qrCode1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.qrCode{
    width: 300px;
    height: 300px;
}
.link {
    color: lightblue;
}