<div class="headReg">
    <h1>Registration</h1>
</div>
<div class="regHere">
    <h3>Click 
        <a class="link" href="https://l.messenger.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2F18VbLyotjcC6ShiTsNlGHl8R9XRgfBPxYirKuoEPXRWI%2Fedit&h=AT1X1MGwG_j9o6rHKDpJTgcHvkoZEqn1EP7X0UWnx82P4M2z9oMqPGQjdvbBsu4I1WBlwgoQU6uJnAv28indltypiN3JBRtgcoeNWP35FsEVdR-A1jixa4Lwmdvw0gegBGVuyw">here</a> to register for the conference.</h3>
</div>
<div class="qrCode1">
    <img class="qrCode" [src]="source">
</div>